html {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.container {
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

input[type=text] {
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  min-width: 250px;
}

input[type=text]:focus {
  background-color: lightcoral;
}

button {
  background-color: darkred; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}